html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

#__next {
	height: 100vh;
}

.editorWrap {
	overflow: hidden;
}

.topBar .title {
	height: 100%;
	margin-left: 8px
}

.topBar .title img {
	height: 100%;
	width: auto;
}

.graphiql-container .execute-button-wrap {
	margin-left: 14px;
}
